form.svelte-schema-form fieldset {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 1em;
	align-items: flex-start;
	padding-left: 1em;
	box-sizing: border-box;
}

.svelte-schema-form fieldset.depth-0 {
	padding-left: 0;
}

.svelte-schema-form fieldset.object {
	grid-template-columns: max-content 1fr;
	border-left: 1px solid #999;
}

.svelte-schema-form fieldset.object.depth-0 {
	border-left: none;
}

.svelte-schema-form fieldset.array {
	grid-column: span 2;
	grid-template-columns: 1fr max-content;
}

.svelte-schema-form fieldset.array > legend {
	margin-left: -1em;
	margin-bottom: 1em;
}


.svelte-schema-form fieldset.array > fieldset.object {
	margin-left: -1em;
}

.svelte-schema-form .list-item {
	display: flex;
}